In [1]:
#introdction to organising the lists:

In [10]:
students=["harish","ram","anjali","karthika","naveen","suresh","vandana","samia"]

In [11]:
print(students)

['harish', 'ram', 'anjali', 'karthika', 'naveen', 'suresh', 'vandana', 'samia']

In [12]:
#req: arrange the list in alphabetical order---A-Z

In [13]:
print(sorted(students))#temporary way

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [14]:
students.sort()#permanent

In [15]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [ ]:
#we can count the items by using len(variable)

In [16]:
len(students)

8

In [19]:
#introduction to if-else condition
#if name is vandana---capital case
#rest in normal way(title case)

In [20]:
for i in students:
    if i=='vandana':
        print(i.upper())
    else:
        print(i.title())

Anjali
Harish
Karthika
Naveen
Ram
Samia
Suresh
VANDANA

In [21]:
#introduction to slicing of lists

In [22]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [ ]:
#req:students of each group i wanted to make!

In [24]:
#general syntax of slicing:  variable[start value:stop value]
#last value will be exclusive(stop value)

In [25]:
print(students[0:2])

['anjali', 'harish']

In [26]:
print(students[2:5])

['karthika', 'naveen', 'ram']

In [27]:
print(students[4:6])

['ram', 'samia']

In [28]:
print(students[6:])

['suresh', 'vandana']

In [29]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [30]:
#req:i want to create a slice alternate students

In [33]:
print(students[0::2]) # step count as 2

['anjali', 'karthika', 'ram', 'suresh']

In [34]:
print(students[1::2])

['harish', 'naveen', 'samia', 'vandana']

In [37]:
#introduction to negative indexing

In [38]:
print(students[-1])

vandana

In [42]:
#how to reverse a list by using indexing

In [43]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [41]:
print(students[::-1])

['vandana', 'suresh', 'samia', 'ram', 'naveen', 'karthika', 'harish', 'anjali']